.dashboard-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dashboard-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.week-section {
  width: 100%;
}

.widgets-row {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
}

.widget-box {
  background: #bce2ff;       
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
  min-height: 350px;          
}
